/* Universal Selector */
* {
  font-family: "Courier New";
}

/* Element Selector */
h1 {
  color: #1b74e4;
}

/* ID Selector */
#searchbtn {
  color: white;
  background-color: black;
}

/* Class Selector */
.userbtn {
  background-color: aqua;
}
